.wrapper2 {
    display: none;
    text-align: center;
    margin: auto
}

.wrapper1 {
    display: none;
    text-align: center;
    margin:auto;
}

.wrapper3 {
    display: none;
    text-align: center;
    margin:auto;
}



