<<<<<<< HEAD
#step1, #step2, #finished  {
=======
.wrapper2 {
>>>>>>> origin/master
    display: none;
    text-align: center;
    margin: auto
}

<<<<<<< HEAD
#participateready, #forgivenessform, #apologyform  {
    text-align: center;
    margin: auto

}

#message, #message2 {
    width: 70%;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*
#apologyprompt {
    padding-bottom: 30px;
}
*/



=======
.wrapper1 {
    display: none;
    text-align: center;
    margin:auto;
}

.wrapper3 {
    display: none;
    text-align: center;
    margin:auto;
}
>>>>>>> origin/master



